.timetamanho{width: 90%; 
        margin-left: 2%; 
        -webkit-user-select: none; /* Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none;
        }

        .timeSelect{ 
          background-size: 100%;
        }
        .chavetime{cursor: pointer; min-width: 150px; background-color: white; opacity: 0.87;}


        td{width: 12%; overflow-y: auto;}

        .inlarge{ 
          font-size: 1.4rem;
          width: 80%;
        }
.tabCore{
  overflow-x: scroll;
  padding: 25px;
  
  
}