<ion-header>
  <ion-toolbar>
    <ion-title>
      Ekey - Chaves
    </ion-title>
    <ion-searchbar placeholder="Procure uma chave especifica" (ionChange)="busca()" [(ngModel)]="inputbusca" ></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card *ngFor="let chave of listaChave" class="chavecard">
    <img src="{{chave.image}}"/>
    <ion-card-header>      
      <ion-card-title routerLink="/faz-chave/{{chave.nick}}">{{chave.nome}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Times: {{chave.times}}
    </ion-card-content>
  </ion-card>

  

</ion-content>
